.line {
    height: 1px;
    width: 45%;
    background-color: #E0E0E0;
    margin-top: 10px
}

.or {
    width: 10%;
    font-weight: bold
<<<<<<< HEAD
}
=======
}
>>>>>>> f595fe4c2fee2e005b9122267cfa04338f89e0b6
