.services-section {
  background: url("../../assets/services/servicesBG.png") no-repeat left;
  margin-bottom: 400px;
  margin-top: 250px;
}
.hr-w {
  width: 7%;
  height: 2px !important;
  background-color: black !important;
  border-radius: 5px !important;
  margin-top: 26px;
  margin-bottom: 33px;
}
.service-dot {
  background: url("../../assets/img/elementdot.png") no-repeat right;
}
