.services-section {
<<<<<<< HEAD
  background: url("../../Assets/services/servicesBG.png") no-repeat left;
=======
  background: url("../../assets/services/servicesBG.png") no-repeat left;
>>>>>>> 8631495aa71c8506c26edfb56891e3621928a574
  margin-bottom: 400px;
  margin-top: 250px;
}
.hr-w {
  width: 7%;
  height: 2px !important;
  background-color: black !important;
  border-radius: 5px !important;
  margin-top: 26px;
  margin-bottom: 33px;
}
.service-dot {
<<<<<<< HEAD
  background: url("../../Assets/img/elementdot.png") no-repeat right;
=======
  background: url("../../assets/img/elementdot.png") no-repeat right;
>>>>>>> 8631495aa71c8506c26edfb56891e3621928a574
}
