.about-img {
    transition: transform 1.2s ease;
}
.about-img:hover {
    transform: scale(1.1);
}
.service-item {
    letter-spacing: 1px;
}
.service-item:hover {
    padding: 10px;
    color: white;
    background-color: rgb(99, 198, 231);
    transition: 0.3s ease-in-out;
}
