.review-bg {
  background: linear-gradient(208.18deg, #67c3f3 9.05%, #5a98f2 76.74%);
  color: white;
  padding: 60px;
  border-radius: 24px;
  margin-top: 250px;
}
/*  */
.border-rev {
  border: white 3px solid;
}
.hr-re {
  width: 7%;
  height: 3px !important;
  background-color: white;
}

.re-dot {
  background: url("../../assets/img/elementdot.png") no-repeat bottom left;
}
.dot-rev {
  background: url("../../assets/img/elementdot.png") no-repeat right;
}

.mb-for-r {
  margin-bottom: 200px;
}
