@media only screen and (max-width: 767px) {
    .reg-div {
        margin-top: 10px !important;
        margin-bottom: 10px !important;
        padding: 20px !important;
    }
}

@media only screen and (max-width: 768px) {
    .reg-div {
        padding: 30px !important;
    }
    #doctor-reg-box {
        padding: 12px !important;
    }
}
