.Dashboard-Home {
    display: flex;
}

.main-content {
    width: 80vw;
    background-color: #FFFFFF;
    margin: 8px;
    overflow: auto;
    padding: 20px;
    position: absolute;
    left: 18vw;
    top: 10vh;


}


@media only screen and (max-width: 1020px) {
    .main-content {
        width: 95vw;
        margin: 10px auto;
        position: absolute;
        left: 0;
        top: 10vh;

    }
}