.lobby {
  margin-top: 100px;
  text-align: center;
  font-size: 1.25em;
}

.participants {
  width: 100%;
  overflow: hidden;
  -webkit-column-count: 3;
  -webkit-column-gap: 1.875em;
  -webkit-column-fill: auto;
  -moz-column-count: 3;
  -moz-column-gap: 1.875em;
  -moz-column-fill: auto;
  column-count: 3;
  column-gap: 1.875em;
  column-fill: auto;
}

.participant {
  overflow: hidden;
  -webkit-mask-image: -webkit-radial-gradient(white, black);
  position: relative;
  border-radius: 8px;
  box-sizing: border-box;
  margin-bottom: 1.875em;
  -webkit-column-break-inside: avoid;
  -moz-column-break-inside: avoid;
  column-break-inside: avoid;
}

.identity {
  position: absolute;
  left: 0px;
  bottom: 15px;
  color: white;
  padding-left: 15px;
  box-sizing: border-box;
  z-index: 50;
}

video {
  display: block;
  -webkit-transform: scale(-1, 1);
  transform: scale(-1, 1);
  width: 100%;
}

.dominantSpeaker:before {
  z-index: 20;
  border: 5px solid #ff7878;
  content: "";
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  box-sizing: border-box;
  border-radius: 8px;
}

.avControl {
  position: absolute;
  top: 15px;
  left: 15px;
  z-index: 20;
  color: white;
  opacity: 0.6;
  cursor: pointer;
  font-size: 1rem;
}
.video-inp {
  border: 1px rgb(85, 122, 224) solid;
  border-radius: 10px;
  padding: 5px;
}
.avControl:hover {
  opacity: 1;
}

.fa-microphone-slash,
.fa-video-slash {
  color: red;
}

.video .avControl {
  margin-top: 45px;
}

#leaveRoom {
  margin-top: 25px;
  margin-left: 0;
}

@media (max-width: 1023px) {
  .participants {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
  }
}

@media (max-width: 767px) {
  .video-app {
    padding: 0;
  }

  .participants {
    width: 100%;
    overflow: hidden;
    -webkit-column-count: 1;
    -webkit-column-gap: 1.875em;
    -webkit-column-fill: auto;
    -moz-column-count: 1;
    -moz-column-gap: 1.875em;
    -moz-column-fill: auto;
    column-count: 1;
    column-gap: 1.875em;
    column-fill: auto;
  }

  .participant,
  .dominantSpeaker:before {
    border-radius: 0;
  }

  #leaveRoom {
    margin: 0 auto;
  }

  @media (orientation: landscape) {
    .video-app {
      padding: 15px;
    }

    .participants {
      -webkit-column-count: 2;
      -moz-column-count: 2;
      column-count: 2;
    }

    participant {
      border-radius: 8px;
    }
  }
}
