/* .ql-container {
    height: auto !important;
}

.ql-editor {
    height: auto !important;
}
 */
.ql-container {
    min-height: 10rem;
    height: 100%;
    max-width: 700px;
    width: 100% !important;
    border-bottom-left-radius: 0.5em;
    border-bottom-right-radius: 0.5em;
    background: #fefcfc;
}
@media only screen and (max-width: 475px) {
    .ql-container {
        max-width: 350px;
    }
}

.ql-editor {
    height: 100%;
    overflow-y: auto;
    width: 100% !important;
}

.ql-snow .ql-toolbar {
    display: block;
    background: #eaecec;
    border-top-left-radius: 0.5em;
    border-top-right-radius: 0.5em;
}
