.choose-diagnostcs-card-container .card {
  margin-bottom: 35px;
}

.choose-diagnostics-card-container .card .card-img-top {
  height: 250px;
}

.choose-diagnostics-card-container .card .card-text {
  color: #8395a7;
  font-family: "Radio Canada", sans-serif;
}

.choose-diagnostics-card-container .card .card-text h6 {
  color: #222f3e;
  margin: 15px 0px;
  font-size: 16px;
  font-weight: 600;
  font-family: "Inter", sans-serif;
}

.btn-choose-diagnostic-book-now:hover {
  background: #24c6dc;
  transition: 0.5s ease-in-out;
}

.btn-choose-diagnostic-book-now {
  margin: 20px auto 10px auto;
  padding: 10px 45px;
  text-align: center;
  text-transform: uppercase;
  background-color: white;
  transition: 0.5s ease-in-out;
  background-size: 200% auto;
  color: #24c6dc;
  box-shadow: 0 0 20px #eee;
  border-radius: 40px;
  display: block;
  border: 1px solid #24c6dc;
  font-weight: 500;
  background-color: transparent;
  font-family: "Lato", sans-serif;
}

.btn-choose-diagnostic-book-now:hover {
  background-position: right center;
  /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}
