
.schedule-info-container .schedule-info-subject{
   font-size: 18px;
   font-weight: bold;
   color: #222f3e;
   font-family: 'Radio Canada', sans-serif;
}
.schedule-info-container .schedule-info-context{
   font-size: 16px;
   font-weight: bold;
   color: #576574;
 font-family: 'Inter', sans-serif;;
}